{{ define "main" }}
{{$parent := index .Site.Data.resources .Params.cat}}
{{$this := index $parent .Params.k}}
<div id="title-bar">
    <h5>{{$this.title}}</h5>
    {{with $this.source_link}}
    {{with $this.author}}
    <a href="{{$this.source_link}}">Made by {{$this.author}}</a>
    {{end}}
    {{else}}
        {{with $this.author}}
        <p>Made by {{$this.author}}</p>
        {{end}}
    {{end}}
</div>
<div id="res-box">
    {{with .Params.is_a_link}}
    <div>
        Visit <a href="{{$this.res_link}}">{{.Title}}</a>.
    </div> 
    {{else}} 
        <img id="info-img" src="{{$this.res_link}}">
    {{end}}    
</div>
{{ .Content }} 
{{ end }}   
