<div id="navigation-bar" class="nav nav-bar pull-right">
    {{range .Site.Menus.main}}
    <ul class="nav nav-tabs">
        {{if .HasChildren}}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                {{.Name}}                
            </a>
            <div class="dropdown-menu">                
                {{range .Children}}
                    {{with not .Params.first }}                                                           
                    <div class="dropdown-divider"></div>
                    {{end}}
                    <a class="dropdown-item image-related" href="{{.URL}}">{{.Name}}</a>             
                {{end}}
            </div>
        </li>
        {{end}}
    </ul>

    {{end}}

</div>